<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/parser">ATS</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="#">Contact</a></li>
            {% if username %}
            <li>{{username}} <a href="/logout">logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="main">
        <h1>Resume Parser</h1>
        <p>Welcome to my new but usual innovation that will ease students' most important job to find a "job" ;)</p>
    </div>
</body>
</html>
