<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jobs.css') }}">
    <title>Jobs</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/parser">ATS</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="#">Contact</a></li>
            <li>{{username}} <a href="/logout">logout</a></li>
        </ul>
    </nav>
    <ul>
    {% for job in jobs %}
        <li>
            <a href="/jobs/{{ job }}">
                {{ jobs[job].title }}
            </a>
            <br>
            <p>
                {{ jobs[job].location }}
            </p>
        </li>
    {% endfor %}
    </ul>
</body>
</html>