<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/parser">ATS</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="">Login</a></li>
        </ul>
    </nav>
    <div class="main">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account?<a href="/register">register user</a></p>
    </div>
</body>
</html>
